#links {
    width: 100%;
    float: left;
    margin: 10px 0;
}

#links a:link {
    text-decoration: none;
}

#links a:visited {
    text-decoration: none;
}

#links a:hover {
    text-decoration: none;
}

#links a:active {
    text-decoration: none;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0px 5px;
}

#links li {
    margin-bottom: 6px;
    padding: 2px 7px;
    font-size: 12px;
}
