#container {
    width: 700px;
    height: 400px;
}

#search {
    float: left;
    width: 500px;
}

.error {
    color: red;
}

.center {
    width: 100%;
    display: block;
    text-align: center;
}
