#selected-tags, #available-tags {
    width: 100%;
    float: left;
    margin: 3px 0;
}

#selected-tags h4, #available-tags h4 {
    margin: 1px 6px;
}

.tag a:link {
    text-decoration: none;
}

.tag a:visited {
    text-decoration: none;
}

.tag a:hover {
    text-decoration: none;
}

.tag a:active {
    text-decoration: none;
}

ul.tag {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0px 5px;
}

.tag li {
    border: 1px solid #0000002e;
    border-radius: 6px;
    padding: 2px 7px;
    background: #ebde3d73;
    font-size: 12px;
    margin: 3px 5px;
    float: left;
}

.tag .remove-tag {
    color: red;
    padding: 0 0 0 6px;
    font-weight: bold;
    cursor: pointer;
}

#available-tags .tag {
    cursor: pointer;
}
#available-tags .tag li:hover {
    border: 1px solid green;
}